<div class="grid-container">
  <h1 class="mat-h1">Blogs</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let route of scully.available$ | async">
      <mat-card *ngIf="route.title" class="dashboard-card" [routerLink]="route.route">
        <mat-card-header>
          <mat-card-title>
            {{route.title || route.route}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>{{route.excerpt}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
