<header>
    <div class="container">
        <div class="flex align-start reverse-mobile">
            <div>
                <h1 class="line-top">
                    Sanket Maru
                </h1>
                <p>
                    Open Source Contributer, Codes Javascript.
                    Supports Liverpool FC. 
                </p>
                <p>
                    I am a developer, who likes exploring different technologies and deep dive into it to gain more insights. 
                    I am starting this blog to bring practical use cases to the web and share a bit of learnings with the world.
                </p>

            </div>

            <div>
                <img
                    src="./assets/images/about.jpg"
                    alt="intro"
                />
            </div>
        </div>
    </div>
</header>