:host {
  font-size: 14px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  color: hsl(229, 6%, 66%);
}
:root {
	--dark-violet: hsl(256, 26%, 20%);
	--greyish-blue: hsl(216, 30%, 68%);
	--very-dark-violet: hsl(270, 9%, 17%);
	--dark-grayish-violet: hsl(273, 4%, 51%);
	--very-light-gray: hsl(0, 0%, 98%);
}

body {
	color: var(--dark-violet);
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

img { 
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  cursor: pointer;
  outline: 0;
}

.ins-container {
	padding: 0 20px;
	margin: 0 auto;
	max-width: 100%;
	width: 1200px;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex > div {
	flex: 1;
}

/* Nav styling */
nav {
	background-color: #fff;
	position: sticky;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 100;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	padding: 0;
}

nav li {
	margin-left: 30px;
}

nav li a {
	color: var(--dark-grayish-violet);
	text-transform: uppercase;
	text-decoration: none;
}

