<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>  
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Sanket Maru</span>
        <span class="example-spacer"></span>
        <!-- <button>About</button>
        <button>Contact</button>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
      </mat-toolbar-row>
      
    </mat-toolbar>
    <!-- Add Content Here -->
    
    <router-outlet></router-outlet>
    
  </mat-sidenav-content>
</mat-sidenav-container>
